// -----------------------------------------
// Single style entry point
// 
// loosely based on Harry Roberts amazingly-still 
// not-much-talked of ITCSS


// SETTINGS

@require '_1.settings'


// TOOLS

@require '_2.mixins'


// GENERIC

@require '_3.normalize'


// BASE

@require '_4.base'


// TRUMPS

@require '_5.trumps'