doctype
html.no-js
  head
    //- 
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- 
    title front-end dev
    meta(name='description', content="Greetings, I'm Isaac.")
    //- 
    //- link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="//brick.a.ssl.fastly.net/Titillium:200,300,400,600")
    link(rel='stylesheet', href='/assets/main.css')
    include _partial--favicons


  body


    block mainPageContent


    include _partial--ga