extends ./_layoutMain

block mainPageContent
  .contain(style="margin-top:5rem")
    
    header.contain.t-center.mb3
      h1.h2.mb0 Isaac Gregson
      h2.h5.t-caps.t-space1 Front-end Developer

    main.contain.mb6
      p Greetings. I've been building on the web for 4+ years. I'm most experienced and proficient on the client-side, though I'm also comfortable working server-side. I'm excited by, and dedicated to, harnessing the latest tools and approaches in the creation of clean code and productive developer workflows.
      p 
        a(href="/cv--isaac-gregson").t-caps.t-space1.py2.link-blue View my resume
        a(href="/cv--isaac-gregson.pdf" style="margin-left:.5rem").t-xsmall.py2 (pdf)
        a(href="/cv--isaac-gregson#print" style="margin-left:.5rem").t-xsmall.py2 (print)

    section.contain.mb5
      h3.mb1.h5.t-caps Projects

      a.pl0.px1.py2.mob--block(href="https://beheardplugin.com") Be Heard!
      a.mob--pl0.px1.py2.mob--block(href="http://thecodestead.com") The Codestead
      a.mob--pl0.px1.py2.mob--block(href="http://pixelandkraft.com") Pixel & Kraft
      a.mob--pl0.px1.py2.mob--block(href="http://cv-lo.com") cv-Lo

    section.contain.mb6
      h3.mb1.h5.t-caps Whereabouts

      a.pl0.px1.py2.mob--block(href="mailto:isaac@isaacgregson.com") Email
      a.mob--pl0.px1.py2.mob--block(href="https://github.com/igregson") Github
      a.mob--pl0.px1.py2.mob--block(href="https://linkedin.com/in/isaacgregson") Linkedin
      a.mob--pl0.px1.py2.mob--block(href="https://twitter.com/isaacgregson") Twitter
      a.mob--pl0.px1.py2.mob--block(href="https://codepen.io/igregson/") Codepen


    footer
      a(href="https://github.com/igregson/ig") source