// -----------------------------------------
// Main.styl
// 
// Loosely based on Harry Roberts ITCSS


// Settings
@require '_1.settings'

// Tools
@require '_2.mixins'

// Generic
@require '_3.normalize'

// Base
@require '_4.base'

// Components
@require '_5.Components'

// Trumps
@require '_6.trumps'