extends ./_layoutMain
block mainPageContent
   .Container(style="margin-top:5rem")
      header.contain.t-center.mb3
         h1.h2.mb0 Isaac Gregson
         h2.h5.t-caps.t-space1 Front-end Developer
      main.contain.mb6
         p Greetings. I've been building on the web for over 6 years. By day (and sometimes night) I work as a front-end developer for Azure Standard. When not on the clock or with with family and friends I'm in side-project world having fun with Elm, Vue, Hugo, Netlify, and other exciting new tools. Regardless of the technology, I'm dedicated to clean code and productive developer workflows. My mission is to deliver the best user experience possible. It's been a rewarding journey thus far, may it ever continue.
         a(href="/cv--isaac-gregson").t-caps.t-space1.py2.link-blue View my resume
         a(href="/assets/cv--isaac-gregson.pdf" style="margin-left:.5rem").t-xsmall.py2 (pdf)
         a(href="/cv--isaac-gregson#print" style="margin-left:.5rem").t-xsmall.py2 (print)
      section.contain.mb5
         h3.mb1.h5.t-caps Projects
         a.pl0.px1.py2.mob--block(href="https://beheardplugin.com") Be Heard!
         a.mob--pl0.px1.py2.mob--block(href="http://thecodestead.com") The Codestead
         a.mob--pl0.px1.py2.mob--block(href="http://pixelandkraft.com") Pixel & Kraft
         a.mob--pl0.px1.py2.mob--block(href="http://cv-lo.com") cv-Lo
      section.contain.mb6
         h3.mb1.h5.t-caps Whereabouts
         a.pl0.px1.py2.mob--block(href="mailto:isaac@isaacgregson.com") Email
         a.mob--pl0.px1.py2.mob--block(href="https://github.com/igregson") Github
         a.mob--pl0.px1.py2.mob--block(href="https://linkedin.com/in/isaacgregson") Linkedin
         a.mob--pl0.px1.py2.mob--block(href="https://twitter.com/isaacgregson") Twitter
         a.mob--pl0.px1.py2.mob--block(href="https://codepen.io/igregson/") Codepen
      footer
         a(href="https://github.com/igregson/ig") source